@media screen and (min-width: 768px) {
  /* Desktop styles go here */
  h1 {
    font-size: 38px;
  }

  h2,
  h3 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background: #d90119;
}
::selection {
  background-color: #d90119;
  color: #fff;
}

.hero--links-wraper {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  list-style: none;
}

.hero--links-wraper .link {
  font-family: var(--work-font), sans-serif;
  font-size: 16px;
  padding: 20px;
}

.hero--links-wraper .link.active {
  border-bottom: 1px solid black;
}

.sub-info-title {
  font-weight: 300;
}

.hero--sub-info {
  margin-top: 40px;
  padding: 20px 15px;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.hero--paragraph {
  width: 100%;
}

.hero--content {
  position: relative;
  z-index: 1;
}

.hero--course-links {
  margin-left: 5px;
}

#hero:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 100%, 0 0, 38% 0, 93% 100%);
  z-index: 0;
  height: 163%;
}

.hero--background {
  position: absolute;
  inset: 0;
  background-attachment: fixed;
  background-image: url('../assets/titulo-oficial-tecnico-superior-administracion-documentacion-sanitaria.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 163%;
}

.hero--course-boxes {
  display: flex;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.course-boxes-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  gap: 30px;
  border: 1px solid #e6e6e6;
  height: 270px;
  width: 330px;
}

.couse-boxes-list {
  display: flex;
  gap: 10px;
}

.course-boxes-font-bold {
  color: #0545b5;
}

.course-boxes-second {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 330px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: #7d7d7d;
  opacity: 94%;
  padding-left: 40px;
  padding-right: 40px;
}

.course-boxes-image {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.course-boxes-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  color: #e6e6e6;
  font-size: 12px;
}

.hero--course-discount {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #d90119;
  border-left: 10px solid #d90119;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
}

.course-discount-first {
  color: #718093;
}

.course-discount-second {
  color: #d90119;
  font-weight: 600;
  font-size: 40px;
}

.course-discount-third {
  color: #d90119;
  font-weight: 600;
  font-size: 24px;
}

nav {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}
a {
  color: black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

hr {
  border-color: white;
}

.hero--social {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.elementor-share-btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: rgb(228, 228, 228);
  transition: background-color 0.3s;
}
.elementor-share-btn__icon:hover {
  background-color: #d5d5d5;
  cursor: pointer;
}

.hero--free {
  display: flex;
  width: 750px;
  height: 210px;
  gap: 20px;
  margin-left: 10px;
  margin-top: 60px;
  margin-bottom: 20px;
  background: linear-gradient(40deg, #00286d 50%, #033892 50%);
}

.hero--free-speaker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero--free-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.hero--free-text-big {
  font-size: 24px;
  font-weight: 600;
  color: #f1f1f1;
}

.hero--free-text-small {
  color: #f1f1f1;
}

.hero--free-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

button {
  width: 220px;
  height: 65px;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  cursor: pointer;
}

.hero--check-distance {
  display: flex;
  padding-left: 75px;
  padding-bottom: 40px;
  gap: 600px;
  background-color: #f1f1f1;
}

.hero--check-title {
  font-size: 30px;
  font-weight: 600;
}

.hero--check-sub {
  display: flex;
  gap: 70px;
}

.hero--check-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.hero--check-list-item {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.hero--video {
  border: 1px solid black;
  width: 250px;
  font-size: 16px;
}

.hero--check-c-logo {
  width: 300px;
  padding-top: 100px;
  overflow-x: hidden;
}

.hero--big-data {
  margin-top: 60px;
  margin-bottom: 118px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero--big-data-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e272e;
  gap: 40px;
  padding: 30px 60px;
  margin-left: 75px;
  width: 800px;
}

.hero--big-data-image {
  width: 130px;
}

.hero--big-data-p {
  font-size: 20px;
  text-align: center;
  color: #f1f1f1;
}

.hero--big-data-get {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 75px;
}

.hero--big-data-get-p {
  font-size: 16px;
}

.hero--big-data-requirements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 75px;
}

.requirements-first {
  background-color: #f1f1f1;
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 30px 40px 32px 40px;
}

.requirements-age {
  padding-top: 2px;
}

.requirements-second {
  background-color: #f1f1f1;
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 32px 40px;
  position: relative;
}

.requirements-second-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  gap: 20px;
  list-style-type: disc;
}

.c-index {
  z-index: -1;
  position: absolute;
  padding-top: 800px;
}

.hero--goals {
  display: flex;
  flex-direction: column;
  gap: 70px;
  background-color: #f1f1f1;
  padding: 100px;
  line-height: 1.5;
}

.hero--goals-first,
.hero--goals-second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px;
}

.hero--goals-first-h3 {
  padding-bottom: 30px;
}

.hero--goals-third {
  width: 800px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  font-size: 14px;
}

.hero--goals-third-ul {
  list-style: none;
}

.hero--program {
  padding: 75px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero--program-courses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.program-courses-numers {
  list-style: decimal;
}

.hero--program-info {
  width: 750px;
  height: 320px;
  background: linear-gradient(40deg, #00286d 62%, #033892 62%);
}

.hero--program-info-tb {
  width: 750px;
  height: 10px;
  background-color: #033892;
}

.hero--program-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  justify-content: center;
  line-height: 1.5;
}

.hero--program-info-text {
  color: #f1f1f1;
}

.hero--program-info-button {
  height: 50px;
  background-color: #f1f1f1;
  color: #444444;
}

.hero--exams {
  display: flex;
  flex-direction: column;
  padding: 75px 100px;
  gap: 50px;
  background-color: #f1f1f1;
}

.hero--exams-calls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}

.hero--exams-calls-p {
  display: flex;
  padding-left: 20px;
  align-items: center;
  width: 800px;
  height: 55px;
  background-color: #e4e3e3;
}

.hero--advantages {
  display: flex;
  padding-left: 100px;
  padding-top: 75px;
  padding-bottom: 20px;
  gap: 160px;
  background-color: #1e272e;
  color: #f1f1f1;
}

.hero--advantages-titles {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.hero--advantages-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero--advantages-row {
  display: flex;
  gap: 20px;
}

.hero--advantages-box {
  display: flex;
  gap: 10px;
  height: 150px;
  width: 350px;
  line-height: 1.2;
}

.hero--advantages-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.advantages-text-title {
  font-size: 18px;
  font-weight: 600;
}

.elementor-widget-container {
  padding-top: 40px;
}

.hero--jobs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 75px 100px;
}

.hero--jobs-title {
  display: flex;
  gap: 5px;
  align-items: center;
}

.hero--jobs-text {
  line-height: 1.5;
  font-size: 16px;
  width: 630px;
  display: flex;
  flex-direction: column;
}

.hero--jobs-text-first {
  padding-bottom: 10px;
}

.elementor-widget-wrap {
  display: flex;
  gap: 40px;
}

.hero--hours {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 75px 100px;
}

.hero--opinions {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 75px 100px;
}

.hero--opinions-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero--other-courses {
  padding: 75px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #f1f1f1;
  background-color: #000000;
}

.elementor-shape-fill {
  fill: #ffffff;
}
