h1 {
  font-size: 28px;
}

h2,
h3 {
  font-size: 28px;
  line-height: 1.1em;
}

h3 {
  font-weight: 700;
}

h4 {
  font-size: 18px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .hero--title {
    font-size: 35px;
  }

  .hero--sub-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-content: start;
  }

  .hero--course-discount {
    width: 60% !important;
  }

  .hero--free {
    width: auto !important;
  }

  .hero--check-list,
  .list-p {
    width: 85%;
  }

  .hero--big-data-box,
  .hero--big-data-get,
  .hero--big-data-requirements {
    width: 85% !important;
  }

  .requirements-first,
  .requirements-second {
    width: 100% !important;
  }

  .hero--goals-first,
  .hero--goals-second,
  .hero--goals-third {
    width: auto !important;
  }

  .hero--program-info,
  .hero--program-info-tb {
    width: auto !important;
  }

  .hero--program-info {
    background: linear-gradient(40deg, #00286d 55%, #033892 55%) !important;
  }

  .hero--exams-calls-p {
    width: auto !important;
  }

  .hero--advantages {
    width: auto !important;
  }

  .elementor-widget-container-advantages {
    position: absolute;
    opacity: 0.3;
    padding-left: 30%;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .hero--title {
    font-size: 30px;
  }

  #hero::after {
    background: rgba(255, 255, 255, 0.6) !important;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%) !important;
  }

  .hero--copy-wraper,
  .hero--paragraph {
    max-width: 100% !important;
  }

  .hero--sub-info {
    flex-direction: column;
    gap: 20px;
  }

  .hero--course-boxes {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .course-boxes-first {
    border: none !important;
  }

  .hero--course-discount {
    width: 100% !important;
  }

  .hero--course-links {
    /* TODO */
  }

  .hero--free {
    width: 100% !important;
    flex-direction: column;
    height: fit-content !important;
    padding: 20px;
    background: #0545b5 !important;
    margin-left: 0 !important;
  }

  .hero--check-distance {
    padding-top: 40px;
    padding-left: 0 !important;
  }

  .hero--check-list,
  .hero--check-sub,
  .hero--check-sub-p {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px !important;
    width: 100% !important;
  }

  .hero--check-c-logo {
    display: none;
  }
  .hero--big-data {
    margin-bottom: 0 !important;
    gap: 10px !important;
  }

  .hero--big-data-box {
    width: 100% !important;
    flex-direction: column;
    height: fit-content !important;
    margin-left: 0 !important;
  }

  .hero--big-data-get,
  .hero--big-data-requirements,
  .requirements-first,
  .requirements-second {
    width: 100% !important;
    margin-left: 0 !important;
    padding: 30px;
  }

  .hero--goals {
    padding: 30px !important;
    width: 100% !important;
  }

  .hero--goals-first,
  .hero--goals-second,
  .hero--goals-third {
    width: 100% !important;
  }

  .hero--program {
    padding: 30px !important;
    width: 100% !important;
  }

  .hero--program-info-tb,
  .hero--program-info {
    width: 100% !important;
    background: #0545b5 !important;
    padding: 20px !important;
  }

  .hero--exams {
    width: 100% !important;
    padding: 30px !important;
    gap: 15px !important;
  }

  .hero--exams-calls-p {
    width: 100% !important;
  }

  .hero--advantages {
    width: 100% !important;
    padding: 30px !important;
  }

  .hero--advantages-titles {
    width: 100% !important;
  }

  .hero--advantages-column {
    flex-wrap: wrap;
  }

  .hero--advantages-row {
    flex-direction: column;
  }

  .elementor-widget-container-advantages {
    display: none;
  }

  .hero--jobs {
    padding: 30px !important;
    width: 100% !important;
  }

  .hero--jobs-text {
    width: 100% !important;
  }

  .elementor-widget-wrap {
    gap: 20px !important;
  }

  .hero--hours {
    padding: 30px !important;
    width: 100% !important;
  }

  .hero--opinions,
  .hero--opinions-title {
    padding: 30px !important;
    width: 100% !important;
  }

  .hero--other-courses {
    padding: 30px !important;
    width: 100% !important;
  }
}
