@import url("variables.css");
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Work+Sans:wght@300;400;600;700&display=swap");
@import url("mobile-styles.css");
@import url("hero-component.css");
@import url("desktop-styles.css");

body {
  font-family: var(--work-font), sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.content-wraper {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
